.mc-h6{
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
}
.mc-aim{
    width: 177px;
    padding-right: 10px;
}
.mc-aima{
    width:30px;
    border-radius: 50%;
    padding-right: 10px;
}
.mc-h6a{
   padding-top: 10px;
}