.mc-h6{
    font-family: 'Open Sans';
    font-size: 18px relative;
    font-weight: bold;
}
.mc-aim{
    width: 177px;
    padding-right: 10px;
}
.mc-aima{
    width:30px;
    border-radius: 50%;
    padding-right: 10px;
}

.mc-h6a{
   padding-top: 10px;
}
a {
    color: #000;
}
header {
    border-bottom: 1px solid #808080;
    margin-bottom: 15px;
}
nav {
    margin-bottom: 8px;
}
#brand-logo {
    float: left;
    width: auto;
}
#nav-top {
    padding: 10px 0;
}
#social-icons {
    padding-left: 20px;
    list-style-type: none;
    display: inline;
}
#social-icons li {
    display: inline;
}
#social-icons li img {
    width: 20px;
}
#media-channel {
    float: right;
}
#media-channel a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
#locale {
    float: right;
}
#nav-bottom {
    clear: right;
    margin-left: 130px;
}
#nav-bottom #menu {
    display: inline-block;
    width: 80%;
}
#nav-bottom #menu ul {
    display: flex;
    justify-content: space-between;
}
#nav-bottom #menu ul li {
    display: inline-block;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
#nav-bottom #menu ul li a {
    padding: 0 25px;
    text-align: center;
    display: block;
    width: 100%;
}
#nav-bottom #menu ul li a:hover {
    background-color: #ff9e19;
    color: #fff;
}
#nav-bottom #search {
    display: inline-block;
    float: right;
}
#nav-bottom #search input[type="text"] {
    padding: 2px 5px;
    width: 120px;
}
#nav-bottom #search input[type="submit"] {
    padding: 3px 5px;
    margin-left: -5px;
    width: 28px;
    background: #ff9e19 url("assets/search-icon.png") center center no-repeat;
    text-indent: -9999em;
    background-size: 18px auto;
}
#featured {
    padding: 0;
    margin: 0;
}
#featured .col-sm-3 {
    padding: 0;
    border: 1px solid #fff;
    float: left;
}
#featured .col-sm-3 .caption {
    position: absolute;
    text-align: left;
    background: rgba(0,0,0,0.4);
    bottom: 0;
    width: 100%;
    color: #fff;
    height: 45px;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 10px;
    line-height: 16px;
}
#featured .col-sm-3 .caption-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 11px;
}
.main-image img {
    margin-top: 20px;
}
.main-image .main-text {
    position: absolute;
    left: 50px;
    bottom: 30px;
}
.main-image .main-text h1 {
    color: #fff;
}
.main-image .main-text a.btn {
    color: #fff;
    background-color: #e86600;
}
